body {
    text-align: center;
}

article#menu h1.menu__title {
    font-family: "Sentinel A", "Sentinel B", "Georgia", "Times New Roman", "Times";
    font-weight: 400;
    line-height: 1.15;
    color: #747474;
}

article#menu span.menu__msg {
    font-family: "Graphik Semibold Web", "Open Sans", "Helvetica Neue", "Helvetica", "Arial";
    font-style: oblique;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.46;
    color: #5c5a5a;
}

article#menu p.menu__desc {
    font-family: "Graphik Regular Web","Helvetica Neue", "Helvetica", "Arial";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.46;
    color: #5c5a5a;
}

/* 

<!-- 

    •	<h1>:
o	Fonts: Sentinel A, Sentinel B, Georgia, Times New Roman, Times
o	Generic Font: serif
o	Font weight 400
o	Height of the line: 1.15
o	Text color: #747474

•	    <span>:
o	Fonts: Graphik Semibold Web, Open Sans, Helvetica Neue, Helvetica, Arial
o	Generic Font: sans-serif
o	Font style: oblique
o	Font weight: 600
o	Font size: 16px
o	Height of the line: 1.46
o	Text color: #5c5a5a
•	    <p>:
o	Fonts: Graphik Regular Web, Helvetica Neue, Helvetica, Arial
o	Generic Font: sans-serif
o	Font weight 400
o	Font size: 16px
o	Height of the line: 1.46
o	Text color: #5c5a5a

 -->*/