#wrapper {
    text-align: center;
    width: 960px;
    height: auto;
    background-color: antiquewhite;
    padding: 20px;
}
article {
    text-align: left;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 5px 45px 6px #544F99;
}

img:hover {
    border: solid 10px red;
    width: 217px;
}
img {
    width: 230px;

    border: solid 4px black;
}
input { margin: 10px;}